@tailwind base;
@tailwind components;
@tailwind utilities;

.panel {
  @apply bg-zinc-900 sm:border border-zinc-600 mx-auto p-4 container sm:rounded-md sm:my-5;
}

.transparent-button-hover {
  @apply fade bg-transparent group-hover:bg-lavender-950 hover:bg-lavender-950;
}

.fade {
  @apply transition-all ease-in-out duration-300;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1a1b1e;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff38;
}

::-webkit-scrollbar-thumb:hover {
  border: 1px solid #ffffff50;
}

::-webkit-scrollbar-thumb:active {
  border-color: #ffffffa4;
}
